<div class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <div class="card shadow p-4 rounded" style="width: 100%; max-width: 400px;">
    <div class="text-center">
      <img src="social-avatar.png" alt="Profile" class="rounded-circle mb-3" style="width: 100px; height: 100px;" />
      <h4 class="mb-4">Value Stack</h4>
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" autocomplete="off">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" name="usernameOrEmail" class="form-control"
          [(ngModel)]="loginData.usernameOrEmail" required />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="loginData.password"
          required />
      </div>


      @if(errorMessage) {
      <div class="alert alert-danger py-2 mb-3 text-center">
        {{ errorMessage }}
      </div>
      }


      <button type="submit" class="btn btn-primary w-100" [disabled]="!loginForm.valid">
        Login
      </button>
    </form>
  </div>
</div>