.launch-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
}

.form-card {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 1rem;
}

.toggle-tabs {
  display: flex;
  justify-content: space-between;
  background: #e9ecef;
  border-radius: 0.5rem;
  overflow: hidden;
}

.tab-button {
  flex: 1;
  padding: 0.5rem 1rem;
  border: none;
  background: transparent;
  font-weight: 600;
  color: #495057;
  cursor: pointer;
  transition: 0.3s;
}

.tab-button:hover {
  background-color: #dee2e6;
}

.active-tab {
  background-color: #0d6efd;
  color: white;
}

.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ngx-otp-input {
  display: inline-block;

  .ngx-otp-input-form {
    .ngx-otp-input-box {
      width: 55px !important;
      height: 50px !important;
      font-size: 22px;
      text-align: center;
      margin: 0 6px;
      border-radius: 6px;
      border: 1px solid #ced4da;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      transition: border-color 0.3s ease;
      line-height: 50px; // Align text vertically
    }

    .ngx-otp-input-box:focus {
      border-color: #0d6efd;
      outline: none;
    }
  }
}